<div class = 'container'>
<div class = 'blogDemo' >
    <div class = 'demoTitle'>
        <a href="/blog/{{blog.id}}"><h2>{{blog.blogName}}</h2></a>
        <p>{{blog.user.userName}}</p>
    </div>
    <p>
        {{blog.content}}
    </p>
</div>
{{#each blog.comments as |comment|}}
<div class = 'commentCard'>
    <p>{{comment.comment}}</p>
    <p> - {{comment.user.userName}}</p>
</div>
{{/each}}

</div>